<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p>Left Hand Cypher, LLC is a consulting firm in the web3 and decentralized finance (DeFi) space.
          Our core services include smart contract engineering, invariant/fuzzing/testing engineering, protocol architecture
          consulting and web3 advising for companies looking to navigate and leverage blockchain technology.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p>At the heart of our service offering is smart contract engineering. We specialize in developing and
          implementing smart contracts for various applications, prioritizing security and efficiency. Our approach
          is to tailor these contracts to the specific needs and goals of each client, ensuring that they are not only
          technically sound but also align with the broader business or economic objectives.</p>
      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <p>In addition to protocol and smart contract engineering, we offer invariant, fuzzing and testing engineering and security consulting.
          This work is at the forefront of how smart contract protocols can better ensure security and correctness of their code.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="#contact" class="btn btn-lg btn-outline">
          Get in Contact
        </a>
      </div>
    </div>
  </div>
  {% include services.html %}
</section>
