<!-- About/Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Services</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <h3>Smart Contract Engineering</h3>
        <p>Our company's Smart Contract Engineering service is dedicated to
          developing and implementing secure, efficient smart contracts, ensuring
          they are technically sound and strategically aligned to meet our clients' goals.</p>
      </div>
      <div class="col-lg-4">
        <h3>Security Consulting</h3>
        <p>Our Security Consulting service offers solutions in Security
          Research, Auditing, Invariant Analysis, Fuzzing, and Testing Engineering.
          We specialize in identifying and mitigating vulnerabilities, employing
          advanced techniques to ensure robust and resilient systems.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <h3>Invariant, Fuzzing and Test Engineering</h3>
        <p>Our expertise in invariant analysis and fuzzing methodologies enable us to rigorously test and validate
          system integrity, ensuring the highest standards of security for our clients.</p>
      </div>
      <div class="col-lg-4">
        <h3>Technical Advising</h3>
        <p>We offer expert guidance in the Web3 and DeFi landscapes, delivering clear, actionable insights.  We collaborate
          with your technical and business teams to provide comprehensive technology advice.</p>
      </div>
    </div>
  </div>
</section>
